.bg-container {
    background-image: url(./Images/background.svg);
    background-repeat: repeat;
    background-size: 100vw auto;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    object-fit: contain;
}
  
  .bg-container > h1 {
    font-family: "PT Sans", sans-serif;
    font-size: 60px;
    margin-top: 0px;
  }
  
  .bg-container > p {
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    padding: 4px 10px;
  }
  
  .bg-btns {
    margin-top: 0px;
  }
  .bg-btns {
    margin-top: 0px;
  }
  
  .bg-btns .btn-bg {
    margin: 24px;
  }
  
  .btn-bg {
    font-size: 24px;
    background-color: transparent;
    border: 4px solid #808080;
    border-radius: 9px;
    font-family: "PT Sans", sans-serif;
    padding: 8px 20px;
    transition-duration: 0.4s;
  }
  
  .btn-bg:hover {
    background-color: #808080;
    color: #fff;
  }

  .pg-container {
    background-image: url(./Images/background.svg);
    background-repeat: repeat;
    background-size: 100vw auto;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    object-fit: contain;
}
  
  .pg-container > h1 {
    font-family: "PT Sans", sans-serif;
    font-size: 30px;
    margin-top: 0px;
  }
  
  .pg-container > p {
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    padding: 4px 10px;
    margin-left: 15%;
    margin-right: 15%;
    
  }

  @media (orientation: portrait) {
    .bg-container {
        background-size: auto 100vh;
    }

    .pg-container {
      background-size: auto 100vh;
  }
  }